@import url(https://fonts.googleapis.com/css?family=Indie+Flower);


body {
  background-image: url("backgroung.png");
  background-size: cover;
  background-repeat: no-repeat;
}
input, body, button {
  font-family: "Indie Flower", cursive;
}
.btn {
  display: inline;
  border-color: white;
  background-color: white;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  color: #952323;
  padding: 3px;
  
}

#toDoList{
  
}